@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    user-select: none;
}

input,
textarea,
[contenteditable] {
    user-select: text;
}

.code-preview-mask {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}